global
    log stdout format raw local0 info

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 5s

frontend l4_front
    bind *:8000
    mode tcp
    default_backend chat_backends

backend chat_backends
    mode tcp
    balance roundrobin
    server-template chat_server 2 chat_server:8000 check resolvers docker_dns init-addr libc,none
